<div id="chatBox">
    {{#each Messages}}
        {{> displayMsg}}
    {{/each}}
</div>
<form action="/" method="POST">
    {{!-- <label for="user">username:</label> --}}
    <input type="text" name="user" placeholder="username">
    {{!-- <label for="message">message:</label> --}}
    <input type="text" name="message" placeholder="your message here">
    <button type="submit">Send</button>
</form>